<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home.index') }}">Sfrecipe</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('home.index') }}">Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_ingredient') }}">Ingredients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('recipe_index') }}">Recipes</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('recipe_contact') }}">Contact</a>
                </li>
                {% if app.user %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        {% if app.user.pseudo %} {{ app.user.pseudo }} {% else %} {{ app.user.fullname }} {% endif %}
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ path('user_profile') }}">Profile</a>
                        <a class="dropdown-item" href="{{ path('user_edit', {'id':app.user.id}) }}">Editer mes infos</a>
                        <a class="dropdown-item" href="{{ path('user_pwd_edit', {'userEntity':app.user.id}) }}">Changer mot de passe</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('security_logout') }}">Logout</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('security_login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('security_register') }}">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>