{% extends 'base.html.twig' %}

{% block title %}Recipe{% endblock %}

{% block body %}
<style>
</style>

<div class="container">
    <h2 class="d-flex justify-content-between mt-4 mb-4">
        Recipes ✅ <a href="{{ path('recipe_new') }}" class="btn btn-primary">Add recipe</a>
    </h2>

    {# <div class="count mt-4">
        {{ recipes.getTotalItemCount }} record(s)
    </div> #}

    <table class="table table-bordered table-hover">
        <thead>
            <th>#ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Created At</th>
            <th scope="col" colspan="3" class="text-center bg-light">Actions</th>
        </thead>
        <tbody>
            {% for recipe in recipes %}
            <tr>
                <td>{{ recipe.id }}</td>
                <td>{{ recipe.name }}</td>
                <td>{{ recipe.price }}</td>
                <td>{{ recipe.createdAt | date('d/m/Y') }}</td>
                <td>
                    <a href="{{ path('recipe_show', {'id': recipe.id}) }}" class="btn btn-success">View</a>
                </td>
                <td>
                    <a href="{{ path('recipe_edit', {'id': recipe.id}) }}" class="btn btn-info">Edit</a>
                </td>
                <td>
                    <a href="{{ path('recipe_delete', {'id': recipe.id}) }}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    <div class="navigation d-flex justify-content-center">
        {{ knp_pagination_render(recipes) }}
    </div>
    
</div>
{% endblock %}
