{% extends 'base.html.twig' %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block body %}
    <div class="container d-flex flex-column min-vh-100">

        <div class="mt-4 d-flex justify-content-between">
            <p class="">Nom de la recette : <strong class="text-uppercase">{{ recipe.name }}</strong></p>
            <div>
                <a href="{{ path('recipe_edit', {'id': recipe.id}) }}" class="btn btn-outline-info {{(app.user != recipe.getUser) ? 'disabled' : ''}} mr-2">Modifier</a>
                <a href="{{ path('recipe_delete', {'id': recipe.id}) }}" class="btn btn-outline-danger {{(app.user != recipe.getUser) ? 'disabled' : ''}}">Supprimer</a>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-6">
                {% if recipe.getImageName %}
                    <img src="{{ vich_uploader_asset(recipe, 'imageFile') }}" style="max-width: 400px;"/>
                {% else %}
                    <p class=""><strong class="">[No image available for this recipe.]</strong></p>
                {% endif %}
            </div>
            <div class="col-6">
                <p class="mt-5">Moyenne de cette recette : {{ (recipe.average | number_format(1)) }} / 5</p>
                <span class="badge bg-warning">Créée le {{ recipe.createdAt|date('d-m-Y') }}</span>
                <p>Price : {{ recipe.price }}</p>
                <p>Temps (en minutes) : {{ recipe.time }}</p>
                <p>{{ recipe.description }}</p>
            </div>
        </div>
        <fieldset>
            <legend><p class="mt-4">Ingrédients</p></legend>
            {% for ingredient in recipe.ingredients %}
                <span class="badge bg-primary text-white">{{ ingredient.name }}</span>
            {% endfor %}
        </fieldset>

        <div class="bg-dark col-2 mt-3 offset-5">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}